<div class="text-center flex flex-col justify-center items-center h-72">
  <div class='bg-green-400 rounded border-8 border-pink-300 p-12 max-w-max'>
    <h1>Get swole quick</h1>
    <p class="text-xl">Using this one weird trick:</p>
    <p class="text-lg">lift heavy things,</p>
    <p class="text-md">over and over</p>
  </div>
</div>