<h1 class="text-pink-700 underline mb-4">Exercises</h1>

<p class="mb-2">Here are some nice exercises to try.</p>
<ul class="list-disc">
    <% @exercises.each do |exercise| %>
        <li>
            <h3 class="font-bold"><%= exercise.title %></h3>
            <p class="pl-4"><span class="font-semibold">How it's done:</span> <%= exercise.description %></p>
        </li>
    <% end %>
</ul>